nav.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  border: 3px solid #4406ff;
  border-radius: 10px;
  margin-top: .5em;
 


  // color:#3500D3 ;this is the color of the logo, but it is to dark
  color:#4406ff ; //my suggested color
 

  menu {
    display: flex;
    gap: 3.5ch;
    


  }
}


a { 
  color: #4406ff;  
  text-decoration: none;
  font-weight: bold;
  
}

.btn-outline-dark {
  color:  #4406ff;;
  border-color:  #5c6875;;
}



.btn-outline-dark:hover {
  color: #ff0000;
}

a:hover {
  color: #ff0000;
}

.logo{
  margin-left: .7em;
}