.card-img-top {
  padding: 5px;
  width: 75px;
  border-radius: 50%;
}


.title {
  font-weight: bold;
  justify-content: center;
}



.likebtn{
margin-top: 8.5px;
margin-left: auto;

margin-bottom: .5rem;
}


.card-body {
  color: black;
  background-color: aliceblue;
  padding:0px;
  border-radius: 5px;
}

.user-picure {
background-color: black;
}


.inputBox{
  width: 15.5em;;
}

.searchBtn{
  background-color:#693cef;
}

.border-card{
  border-color: #693cef;
  border-width: 2px;
  border-style: solid;
}