@primary-color: #4406ff;
@secondary-color: #210e0e;
@text-color: #000000;

.email{
    margin-left: 35px;
}

.birthDate{
    margin-left: 5px;
}

.location{
    margin-left: 10px;
}
.oldPassword{
    margin-left: 500px;
}